.product-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $darkBlue;
        padding: em(20);
        border-radius: em(5) em(5) 0 0;
        h1 {
            color: white;
        }
    }
    &__info {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background-color: $white;
        padding: em(30);
        .info-container {
            h3 {
                background-color: $lightGrey;
                padding: em(10);
                font-size: em(12);
            }
            p {
                font-size: em(13);
                @include FontDemi;
            }
        }
    }
    .goBack {
        border: none;
        background-color: $orange;
        padding: em(15);
        border-radius: em(5);
        width: 20%;
        min-width: em(100);
        margin-top: em(10);
        margin: 0 auto;
        color: $white;
        @include FontDemi;
        margin-top: em(20);
        cursor: pointer;
    }
}